:root {
  --primary-red: hsl(356, 100%, 66%);
  --primary-light-red: hsl(355, 100%, 74%);
  --primary-dark-blue: hsl(208, 49%, 24%);

  --text-light: hsl(0, 0%, 100%);
  --text-dark: hsl(207, 13%, 34%);
  --text-footer: hsl(240, 2%, 79%);

  --background-header-gradient-start: hsl(13, 100%, 72%);
  --background-header-gradient-end: hsl(353, 100%, 62%);
  --background-body-gradient-start: hsl(237, 17%, 21%);
  --background-body-gradient-end: hsl(237, 23%, 32%);
  --background-footer: hsl(240, 10%, 16%);

  font-size: 16px; 
  font-family: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
}

footer {
  background-color: var(--background-footer);
  color: var(--text-footer);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif;
}

h1 {
  font-size: 2rem;
}

h6 {
  font-size: 1.125rem;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



/* Hero */
#hero {
  background: linear-gradient(var(--background-header-gradient-start), var(--background-header-gradient-end));
  color: var(--text-light);
  text-align: center;
  padding-bottom: 10rem;
  border-radius: 0 0 0 6rem;
}

#hero h1 {
  margin-top: 6rem;
  margin-bottom: 1rem;
}

#hero h6 {
  margin: auto;
  margin-bottom: 3.5rem; 
}

.button {
  border-radius: 32px;
  font-weight: 600;
  padding: .75rem 1.5rem;
  margin: 2rem .5rem;
}

.background {
  width: 150%;
}

.hamburger {
  height: 1.25rem;
}

.outline {
  border: 1px solid var(--text-light);
  color: var(--text-light);
}

.primary {
  background-color: var(--text-light);
  color: var(--primary-light-red);
}

/* Future */
#future {
  text-align: center;
  margin-top: 6rem;
}

#future img {
  width: 85%;
  margin: 3rem 0 auto;
}

/* Infrastructure */
#infrastructure * {
  color: var(--text-light);
} 

#infrastructure .card {
  height: 500px;
  background: linear-gradient(to right, var(--background-body-gradient-start), var(--background-body-gradient-end) 50%);
  border-radius: 0 6rem;
}




/* Make Hero text and Future Headings wrap at the same breakpoint */
@media only screen and (max-width: 550px) {
  #hero div {
    width: 300px;
    margin: auto;
  }

  #future div {
    width: 300px;
    margin: 0 auto;
  }
}